@import "./src/components/cards/how-it-works-card"; /* Pq a sessão usa o card how-it-works */

/* SECTION 2*/
.section-2 {
  display: flex;
  justify-content: center;
  padding: 80px 20px;

  h2 {
    text-align: center;
    margin-bottom: 70px;
    font-size: 36px;
  }

  .cards-block {
    display: flex;
    flex-direction: row;
    gap: 70px;
    justify-content: center; /* Como não consegui centralizar pelo wrapper em .f2, usei esse cmd */
    flex-wrap: wrap; /* RESPONSIVIDADE sem necessidade de criar @mediaqueries, neste caso. */
  }
}
