/* SECTION 1*/
.f1 {
    display: flex;
    justify-content: center; /* centraliza todo o bloco perante à pág*/
    padding: 30px 20px; /* Colocamos o padding nas laterais p/ garantir que os itens não encostem nas laterais durante a RESPONSIVIDADE */
  
    .f1-conteudo {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .f1-textos {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-width: 440px;
      color: #36392e;
  
      h1 {
        font-size: 68px;
        line-height: 69px;
        font-weight: 700;
        margin: 0px;
  
        span {
          color: #145fa4;
        }
      }
  
      p {
        font-weight: 700;
        line-height: normal;
        margin-bottom: 40px;
      }
    }
  }