/* SECTION 3*/
.section-3 {
  display: flex;
  justify-content: center;
  padding: 80px 20px;

  /* Necessário para alinhar todos os itens do container ao centro! */
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    h2 {
      text-align: center;
      font-size: 36px;
      margin: 0px;
    }

    p {
      text-align: center;
      font-size: 18px;
      font-weight: 400;
      line-height: 27px;
      max-width: 950px;
    }
  }

  .cards-block {
    display: flex;
    gap: 24px;

    img {
      transition: 0.3s;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .subcards-block {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  @media (max-width: 1200px) {
    .cards-block {
      flex-direction: column;

      > img {
        width: 100%;
      }
    }

    .subcards-block {
      flex-direction: row;

      img {
        width: calc(
          50% - 13px
        ); /* RESPONSIVIDADE + fluída: reduz width e o gap entre as imgs.*/
      }
    }
  }
}
