@import "./src/components/cards/volunteeer/";

.section-4 {
  display: flex;
  justify-content: center;
  padding: 80px 20px;

  .wrapper > h1 {
    text-align: center;
    margin-bottom: 50px;
  }

  .list-volunteer {
    display: flex;
    justify-content: center;
    gap: 60px;
  }

  @media (max-width: 1024px) {
    .list-volunteer {
      overflow: hidden;
    }

    
  }
}
