@charset "UTF-8";
.btn-adotar {
  background-color: #75a342;
  color: #fff !important; /* !important - Somente se as cores de "nav a" alterarem a cor do txt btn */
  padding: 20px 50px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  filter: drop-shadow(0px 7px 15px rgba(134, 179, 74, 0.53)) drop-shadow(0px 5px 7px rgba(134, 179, 74, 0.1)) drop-shadow(0px 4px 4px rgba(177, 200, 146, 0.16));
  transition: 0.3s; /* No elemento principal p/ iniciar e terminar acompanhando o cursor */
}

.btn-adotar:hover {
  background-color: #7cb53b;
  text-decoration: none;
  color: #fff;
}

/* Mudança de cor no clique */
.btn-adotar:active {
  background-color: #679237;
}

.cabecalho {
  display: flex; /* row é o padrão */
  justify-content: space-between;
}
.cabecalho #menu-icon {
  display: none;
}
.cabecalho nav {
  display: flex;
  align-items: center;
  gap: 70px;
}
.cabecalho nav a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  transition: 0.2s;
}
.cabecalho nav a:hover {
  color: #679237;
}

/* SECTION 1*/
.section-1 {
  display: flex;
  justify-content: center; /* centraliza todo o bloco perante à pág*/
  padding: 30px 20px; /* Colocamos o padding nas laterais p/ garantir que os itens não encostem nas laterais durante a RESPONSIVIDADE */
}
.section-1 .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-1 .texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 440px;
  color: #36392e;
}
.section-1 .texts h1 {
  font-size: 68px;
  line-height: 69px;
  font-weight: 700;
  margin: 0px;
}
.section-1 .texts h1 span {
  color: #145fa4;
}
.section-1 .texts p {
  font-weight: 700;
  line-height: normal;
  margin-bottom: 40px;
}

.how-it-works-card {
  width: 285px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
}
.how-it-works-card:hover {
  transform: scale(1.1); /* Animação de aumento do card */
}
.how-it-works-card img {
  height: 150px;
}
.how-it-works-card h4 {
  text-align: center;
  font-size: 18px;
}
.how-it-works-card p {
  text-align: center;
  font-size: 16px;
}

/* Pq a sessão usa o card how-it-works */
/* SECTION 2*/
.section-2 {
  display: flex;
  justify-content: center;
  padding: 80px 20px;
}
.section-2 h2 {
  text-align: center;
  margin-bottom: 70px;
  font-size: 36px;
}
.section-2 .cards-block {
  display: flex;
  flex-direction: row;
  gap: 70px;
  justify-content: center; /* Como não consegui centralizar pelo wrapper em .f2, usei esse cmd */
  flex-wrap: wrap; /* RESPONSIVIDADE sem necessidade de criar @mediaqueries, neste caso. */
}

/* SECTION 3*/
.f3 {
  display: flex;
  justify-content: center;
  padding: 80px 20px;
}

/* Necessário para alinhar todos os itens do container ao centro! */
.f3 .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.f3 .wrapper > h2 {
  text-align: center;
  font-size: 36px;
  margin: 0px;
}

.f3 .wrapper > p {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  max-width: 950px;
}

.f3-cards-block {
  display: flex;
  gap: 24px;
}

.f3-cards-block img {
  transition: 0.3s;
}

.f3-cards-block img:hover {
  transform: scale(1.05);
}

.f3-subcards-block {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

* {
  /*border: solid 1px red;*/
  margin: 5px;
}

body {
  font-family: "Poppins";
  font-size: 18px;
  background-color: #fefdfb;
}

/* Engloba todos os containers, subcontainers e elementos.
Importante para a responsividade do site! */
.wrapper {
  max-width: 1280px;
  width: 100%;
  /*border: 2px solid green;*/
}

@media (max-width: 1200px) {
  .f3-cards-block {
    flex-direction: column;
  }
  .f3-subcards-block {
    flex-direction: row;
  }
  .f3-cards-block > img {
    width: 100%;
  }
  .f3-subcards-block img {
    width: calc(50% - 13px); /* RESPONSIVIDADE + fluída: reduz width e o gap entre as imgs.*/
  }
}
@media (max-width: 1024px) {
  #menu-icon {
    display: inline-block;
  }
  .f1-conteudo {
    flex-direction: column-reverse;
  }
  .f1-conteudo img {
    width: 100%;
    max-width: 400px;
  }
  .f1-textos {
    text-align: center;
  }
  .f1-textos h1 {
    font-size: 44px; /* Não são as medidas do Figma, escolhas do prof */
    line-height: 47px;
  }
  .f1-textos h1 span {
    color: #36392e;
  }
  .f1-textos br,
  nav {
    display: none;
  }
  .btn-adotar {
    width: 100%;
  }
}/*# sourceMappingURL=index.css.map */