@charset "UTF-8";
.btn-adotar {
  background-color: #75a342;
  color: #fff !important; /* !important - Somente se as cores de "nav a" alterarem a cor do txt btn */
  padding: 20px 50px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  filter: drop-shadow(0px 7px 15px rgba(134, 179, 74, 0.53)) drop-shadow(0px 5px 7px rgba(134, 179, 74, 0.1)) drop-shadow(0px 4px 4px rgba(177, 200, 146, 0.16));
  transition: 0.3s; /* No elemento principal p/ iniciar e terminar acompanhando o cursor */
  outline: none;
  border: none;
}

.btn-adotar:hover {
  background-color: #7cb53b;
  text-decoration: none;
  color: #fff;
}

/* Mudança de cor no clique */
.btn-adotar:active {
  background-color: #679237;
}

/* IMPORTANTE: 
- 1º Fizemos a estilização com CSS, 
- depois organizamos o código com o SASS, 
- e por último, foi usado o Bootstrap! Comentamos abaixo para a estilização via bootstrap */
.card-volunteer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.card-volunteer h1 {
  font: 700 18px "Poppins";
  margin: 0px;
}
.card-volunteer p {
  font: 400 18px "Poppins";
  margin: 0px;
}

.section-4 {
  display: flex;
  justify-content: center;
  padding: 80px 20px;
}
.section-4 .wrapper > h1 {
  text-align: center;
  margin-bottom: 50px;
}
.section-4 .list-volunteer {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.section-5 {
  display: flex;
  justify-content: center;
  padding: 80px 20px;
}
.section-5 .wrapper > h1 {
  text-align: center;
}
.section-5 p {
  text-align: center;
  max-width: 1000px;
  margin: 0px auto;
  margin-bottom: 60px;
  line-height: 30px;
}
.section-5 .conteudo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.section-5 .conteudo .cadastro-adotante {
  background-color: #fff;
  max-width: 500px;
  width: 500px;
  padding: 30px 25px;
  position: relative; /*Permite que o elemeno filho seja position absolute*/
  border-radius: 25px;
  box-shadow: 0px 4px 14px 3px rgba(205, 189, 189, 0.25), 0px 4px 4px 0px rgba(198, 183, 183, 0.25);
}
.section-5 .conteudo .cadastro-adotante .passos {
  position: absolute;
  right: 28px;
  top: 46px;
  font-size: 16px;
  color: #899185;
}
.section-5 .conteudo .cadastro-adotante h1 {
  font-size: 24px;
}
.section-5 .conteudo .cadastro-adotante .form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.section-5 .conteudo .cadastro-adotante .form-item {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.section-5 .conteudo .cadastro-adotante .form-item label {
  font-size: 14px;
}
.section-5 .conteudo .cadastro-adotante .form-item select {
  font-size: 16px;
  padding: 15px;
  border: 1px solid #9c8f8f;
  border-radius: 4px;
}
.section-5 .conteudo .cadastro-adotante .form-item .green {
  color: #75a342;
}
.section-5 .btn-adotar {
  padding: 15px 20px;
}

* {
  /*border: solid 1px red;*/
  margin: 5px;
}

body {
  font-family: "Poppins";
  font-size: 18px;
  background-color: #fffbf1;
  background: var(--brand-background, linear-gradient(181deg, #fff 0%, rgba(255, 255, 255, 0) 100%), #fffbf1);
}

/* Engloba todos os containers, subcontainers e elementos.
Importante para a responsividade do site! *//*# sourceMappingURL=index.css.map */