@import "./src/components/adopt-btn";

/* IMPORTANTE: 
- 1º Fizemos a estilização com CSS, 
- depois organizamos o código com o SASS, 
- e por último, foi usado o Bootstrap! Comentamos abaixo para a estilização via bootstrap */

// @import "./src/components/header";
// @import "section-1";
// @import "section-2";
// @import "section-3";

* {
  /*border: solid 1px red;*/
  margin: 5px;
}

body {
  font-family: "Poppins";
  font-size: 18px;
  background-color: #fefdfb;
}

/* Engloba todos os containers, subcontainers e elementos.
Importante para a responsividade do site! */
.wrapper {
  max-width: 1280px;
  width: 100%;
  /*border: 2px solid green;*/
}


