* {
  /*border: solid 1px red;*/
  margin: 5px;
}

body {
  font-family: "Poppins";
  font-size: 18px;
  background-color: #FEFDFB;
}

/* Engloba todos os containers, subcontainers e elementos.
Importante para a responsividade do site! */
.wrapper {
  max-width: 1280px;
  width: 100%;
  /*border: 2px solid green;*/
}

/* SECTION 1*/
.f1 {
  display: flex;
  justify-content: center; /* centraliza todo o bloco perante à pág*/
  padding: 30px 20px;
}

header {
  display: flex; /* row é o padrão */
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
  gap: 70px;
}

nav a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
}

.f1-conteudo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.f1-textos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 440px;
  color: #36392e;
}

.f1-textos h1 span {
  color: #145fa4;
}

h1 {
  font-size: 68px;
  line-height: 69px;
  font-weight: 700;
  margin: 0px;
}

.f1-textos p {
  font-weight: 700;
  line-height: normal;
  margin-bottom: 40px;
}

.btn-adotar {
  background-color: #75a342;
  color: #fff; /* !important - Somente se as cores de "nav a" alterarem a cor do txt btn */
  padding: 20px 50px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;

  filter: drop-shadow(0px 7px 15px rgba(134, 179, 74, 0.53))
    drop-shadow(0px 5px 7px rgba(134, 179, 74, 0.1))
    drop-shadow(0px 4px 4px rgba(177, 200, 146, 0.16));
}

/* SECTION 2*/
.f2 {
  display: flex;
  justify-content: center;
  padding: 80px 20px;
}

h2 {
  text-align: center;
  margin-bottom: 70px;
}

.f2-cards-block {
  display: flex;
  flex-direction: row;
  gap: 70px;
  justify-content: center; /* Como não consegui centralizar pelo wrapper em .f2, usei esse cmd */
}

.f2-card {
  width: 285px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.f2-card img {
  height: 150px;
}

.f2-card h4 {
  text-align: center;
  font-size: 18px;
}

.f2-card p {
  text-align: center;
  font-size: 16px;
}

/* SECTION 3*/
